# OpenRouter API Configuration
OPENROUTER_API_KEY=sk-api de openrouter

# Server Configuration
PORT=3000
NODE_ENV=development

# CORS (opcional - si despliegas frontend en otro dominio)
CORS_ORIGIN=http://localhost:3000

#JWT Authenticator
JWT_SECRET=Clave de JWT
